@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&family=Goldman&display=swap');
 

* { 
	padding: 0;
	margin: 0;
	Box-sizing: border-box;
}

body {
    background: url("Images/Horizontal-Background.png") no-repeat center center fixed;

    background-size: cover; 
    /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ / */
    -webkit-background-size: cover; /*/ for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 / */
    -moz-background-size: cover; /*/ optional for Firefox 3.6 / */
    overflow: hidden;
}

.logo{
    width:100%;
}

.logo img{
    margin:20px 0 0 20px;
    width:50%;
    min-width:400px;
}


.container{
    margin-top:30px;
    width:100%;
    padding:0px 8%;
}

.select-mode{
    display:flex;
    justify-content:flex-start;
    gap:30px;
    flex-basis: 60%;
}

.labelled{
    font-size:19px;
}

.labelled > input{
    display: none;
}

.select-mode input:checked + .mode-container{
    background: rgba(191, 189, 253, 0.5);
}

.mode-container{
    padding:10px;
    margin-right: 10%;
    width: 300px;
    background: #645EFE;
    border-radius: 20px;
    min-width:150px;
    cursor: pointer;
}

.mode-container:hover{
    background: rgba(191, 189, 253, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}



.mode-container img{
    width: 100%;
    height:150px;
}

.mode-container p{
    margin-top:10px;
    text-align: center;
    font-family: 'Goldman';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.category-container{
    margin: 50px 0 0 0;
    width:80%;
    position:relative;
}

.category-container h2{

font-family: 'Goldman';
font-style: normal;
font-weight: 400;
font-size: 40px;

color: #FFFFFF;
text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}


.category-container .button-container{
    width:100%;
    margin-top: 20px;
    
}

#chooseCategory{
    border:none;
    margin:20px 0;
    background: rgba(191, 189, 253, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    width: 300px;
    padding:10px;
    font-size: 30px;
    font-family:'Goldman';
    color:#645EFE;
}

/* .button-container button{
    background: rgba(100, 94, 254, 0.5);
    border-radius: 10px;
    border:none;
    font-size: 30px;
    padding:1%;
    margin:10px;

    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    cursor: pointer;
    color: #FFFFFF;
} */

/* .button-container button:hover{
    background: rgba(191, 189, 253, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
} */

.start-game-btn{
    position: absolute;
    right:200px;
    background: rgba(191, 189, 253, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border:none;
    border-radius: 10px;
    height: 70px;
    width: 200px;


    font-family: 'Goldman';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    /* line-height: 36px;
    identical to box height */

    cursor: pointer;
    color: #FFFFFF;
}


.start-game-btn:hover{
    border: 2px solid white;
    transition: 0.5s;
    color: #645EFE;
}

@media only screen and (max-width:1024px){


    .mode-container p{
        font-size: 20px;
    }


    .category-container h2{

        font-family: 'Goldman';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        
        color: #FFFFFF;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }


        .button-container button{

            font-size: 20px;
            padding:1%;
            margin:10px;

   
        }

    .start-game-btn{
        height: 50px;
        width: 170px;
        font-size: 25px;
  
    }
    
}

@media only screen and (max-width:700px){
    .mode-container{
        padding:10px;
        margin-right: 10%;
        width: 200px;
        background: #645EFE;
        border-radius: 20px;
        min-width:150px;
        cursor: pointer;
    }
    
    .mode-container:hover{
        background: rgba(191, 189, 253, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
    }

    
    
    
    
    .mode-container img{
        width: 100%;
        height:150px;
    }

    .start-game-btn{
        right:20px;
        height: 50px;
        width: 170px;
        font-size: 25px;

    }

    
    #chooseCategory{
        width: 200px;
        font-size: 20px;
        font-family:'Goldman';
        color:#645EFE;
    }
}


@media only screen and (max-width:425px){

    .mode-container p{
        font-size: 15px;
    }

    .category-container h2{

        font-family: 'Goldman';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        
        color: #FFFFFF;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }


    .button-container button{

        font-size: 15px;
        padding:1%;
        margin:10px;
    }

    .start-game-btn{
        height: 50px;
        width: 170px;
        font-size: 25px;

    }

    
    
}


